/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiIl0sImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */


html, body {
	height: 100% ;
	background-image: url(../../resources/graphics/background.png);
}

/* ------------------
CONTAINERS 
------------------ */

#jv-content-container {
	background: white;
	min-height: 517px;
	max-width: 820px;
}

#jv-spacer-div {
	min-height: 100px;
}

#jv-search-header {
	background: #006790;
	height: 80px;
	padding-top: 18px;
	margin: auto;
}

#jv-left-column {
	padding-left: 15;
	padding-top: 22px;
}

#jv-right-column {
	min-height: 440px;
	border-left: 1px solid #A5A5A5;
	padding-top:30px;
}

/* ------------------
ELEMENTS / SEARCH BOX 
------------------ */

.ais-search-box--input {
	color: #B3B3B3;
	width: 100%;
	height: 40px;
	padding: 4px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #D6D6D6;
}

img {
	height: 80px;
	width: 80px;
}

.no-decoration {
text-decoration:none;
}

/* ------------------
HITS 
------------------ */

.hit-image .thumbnail {
	width: 80px;
	height: 80px;
	border: none;
	padding: 0;
}

.hit-content-container {
	max-width: 430px;
	padding-left: 20px;
	margin-top: 0;
}

.hit-name {
	margin-top: 0;
	font-size: 16px;
}

.hit-information {
	font-size: 14px;
	line-height: ;
}


/* ------------------
MENU (Cuisine / Food Type)
------------------ */

/* MENU ITEM DIV STYLE (container div for menu list) */
.ais-menu--list {
	margin-bottom: 25px;
}

/* MENU ITEM DIV COLOR :HOVER */
.ais-menu--list div:hover {
	background: #2897C5;
	border-radius: 5px;
}

/* MENU ITEM TEXT COLOR :HOVER */
.ais-menu--list div:hover div a {
	color:white;
}

/* ACTIVE MENU TEXT COLOR */
.ais-menu--item__active div a {
	color: white;
}

.ais-menu--item__active {
	background: #2897C5;
	border-radius: 5px;
}

.ais-menu-link {
	font-size: 12px;
	color: black;
	padding-left: 6px;
}


/* MENU COUNT STYLE*/ 

.ais-menu--list div:hover div span{
	color:white;
}

.ais-menu--item__active div span{
	color: white;
}

.ais-menu-count {
	padding-right: 6px;
	padding-top: 3px;
}

a.ais-menu-link {
	text-decoration: none;
}

/* ------------------
STATS
------------------ */

.ais-stats--body {
	font-size: 14px;
	margin-bottom: 30px;
	padding-left: 15px;
}

.ais-stats--body span{
	font-size: 12px;
}

.ais-stats--body span::after {
	content: " ";
	display: inline-block;
	background:blue;
	width: 390px;
	height: 0;
	margin-left: 20px;
	border-bottom: 2px solid #E6E6E6;
	position: relative;
	bottom: -3px;
}

/* ------------------
PAGINATION
------------------ */

.ais-pagination{
	margin-top: 10px;
	margin-bottom: 15px;
}

.ais-pagination--link {
	border: 2px solid #E6E6E6;
	font-size: 14px;
	color: #000000 ;
	border-radius: 5px;
	padding: 10px 45px;
	position:relative;
	left: 15px;
}

.ais-pagination--item__active {
	display: none;
}

.ais-pagination--link:hover {
	text-decoration: none;
	color: #000000;
}

.ais-star-rating--star {
	padding-left: 12px;
}

.ais-star-rating--star__empty {
	padding-left: 12px;
}

/* ------------------
AUXILARY STYLES 
------------------ */

.grayed {
	font-weight: normal;
	color: #A5A5A5;
}

.black {
	color: black;
}

.red {
	color:red;
}

.dont-show {
	display:none;
}





